html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin-left: 3rem;
}

.h1-wrapper {
  display: flex;
  flex-direction: row;
}

.full-section {
  display: flex;
  flex-direction: column;
  margin: 4rem 4rem 4rem 4rem;
}

.section {
  display: flex;
  flex-direction: row;
  margin: 4rem 4rem 4rem 4rem;
}

.section-row {
  display: flex;
  flex-direction: row;
  margin: 4rem 6rem 4rem 6rem;
}

.sub-section {
  display: flex;
  flex-direction: column;
  max-width: 45%;
  height: auto;
  margin-left: 2rem;
  margin-right: 2rem;
}

.circle-img {
  border-radius: 50%;
  max-width: 80%;
  max-height: auto;
}

.pink-navbar {
  background-color: #fce2e8;
}

.contact-icon-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-icon {
  font-size: 40px;
  color: #f7b5c5;
  margin: 0 2rem 0 2rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fbdae2;
  padding: 4rem 0 4rem 0;
}
