html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppin", sans-serif;
  color: #826F7C;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 48px;
  color: #826F7C;
}

.h1-wrapper {
  display: flex;
  flex-direction: row;
}

.full-section {
  display: flex;
  flex-direction: row;
  padding: 0rem 4rem 6rem 4rem;
}

.section {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 2rem 2rem 2rem 2rem;
}

.section-row {
  display: flex;
  flex-direction: row;
  /*margin: 4rem 6rem 4rem 6rem;*/
  font-size: 24px;
}

.space {
  margin-left: 6px;
}

.sub-section {
  display: flex;
  flex-direction: column;
  height: auto;
  font-size: 18px;
  align-items: center;
}

.circle-img {
  border-radius: 50%;
  width: 80%;
  max-height: auto;
}

.purple-background {
  background-color: rgb(200, 173, 192, 0.7);
}

.contact-icon-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-icon {
  font-size: 40px;
  color: #826F7C;

  margin: 0 2rem 0 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 2rem 0;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #826F7C;
}

.resume-mobile {
  display: hidden;
}

@media only screen and (max-width: 600px) {
  .full-section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .section {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    justify-content: center;
    width: unset;
  }

  .section-row {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .sub-section {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 1rem 0 1rem 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 50px;
  }
  .resume-web {
    display: none;
  }
  .resume-mobile {
    display: unset;
  }
}


#about{
  background-color: rgb(237, 211, 196, 0.3);
}

#projects{
  background-color: rgb(237, 211, 196, 0.5);
}

#resume{
  background-color: rgb(237, 211, 196, 0.7);
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.pad-content {
  padding: 2rem 2rem 2rem 2rem;
}

.pad-content--large {
  padding: 4rem 4rem 0rem 6rem;
}

.space-top {
  padding-top: 1.5rem;
}

.space-top--large {
  padding-top: 4rem;
}

.circle-img-smaller {
  width: 50% !important;
}

.active-item {
  border-bottom: 2px #826F7C solid;
}

.space-x {
  padding-left: 4rem;
  padding-right: 4rem;
}
