html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #666666;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 48px;
  color: #826F7C;
}

.h1-wrapper {
  display: flex;
  flex-direction: row;
}

.full-section {
  display: flex;
  flex-direction: row;
  padding: 4rem 4rem 6rem 4rem;
}

.section {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 2rem 2rem 2rem 2rem;
}

.section-row {
  display: flex;
  flex-direction: row;
  /*margin: 4rem 6rem 4rem 6rem;*/
  font-size: 24px;
}

.space {
  margin-left: 6px;
}

.sub-section {
  display: flex;
  flex-direction: column;
  height: auto;
  font-size: 18px;
  align-items: center;
}

.circle-img {
  border-radius: 50%;
  max-width: 80%;
  max-height: auto;
}

.purple-background {
  background-color: rgb(200, 173, 192, 0.7);
}

.contact-icon-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-icon {
  font-size: 40px;
  color: #f7b5c5;

  margin: 0 2rem 0 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fbdae2;
  padding: 4rem 0 4rem 0;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #826F7C;
}

@media only screen and (max-width: 600px) {
  .full-section {
    display: flex;
    flex-direction: column;
    margin: 3rem 2rem 2rem 2rem;
    padding: 0;
  }

  .section {
    display: flex;
    flex-direction: column;
    margin: 0 3rem 0 3rem;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .section-row {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .sub-section {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 1rem 0 1rem 0;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    margin-left: 3rem;
    font-size: 50px;
  }
}


#about{
  background-color: rgb(237, 211, 196, 0.3);
}

#publications{
  background-color: rgb(237, 211, 196, 0.5);
}

#resume{
  background-color: rgb(237, 211, 196, 0.7);
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.pad-content {
  padding: 2rem 2rem 2rem 2rem;
}
